@page
@model Booklist_Razor_Pages.Pages.BookList.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h2>Book List</h2>

<br/>

<a asp-page="Create" class="btn btn-primary">Create new book</a>

@if (Model.Books.Count() > 0)
{
    <div>Books available.</div>
}
else
{
    <div>No books in database.</div>
}